<div id="content">

	<div id="sider-left">
		<head class="description">
			<h2>About Us</h2>
			<p>BuilBeast is a full service design/build contractor located in Dar es salaam, Tanzania. </p>
			<h3>(+255) 789 291 159</h3>
			<p>Email: <em>buildbeast@gmail.com</em></p>
			<p>Some street, block no #<br/> 1st floor<br/>Dar es salaam</p>
			<hr/>
		</head>
		<add class="advertise">
			<h1> Addon goes here</h1>
		</add>
	</div>
	<div id="sider-right">
		<div class="container1">
			<h2>Who Are We?</h2>
			<p>BuildBeast's success is a result of our ability to satisfy the needs and goals of our clients for over many(#) years. We are not so much in the business of securing projects as we are in the business of satisfying clients. We accomplish this with professionalism, honesty, creativity, and most importantly, performance.</p>

			<p>BuildBeast offers single - source convenience. Once you have identified a building need, we are prepared to work with you all the way from concept to occupancy.</p>

			<p>The Design/Build process enables BuildBeast Building and Engineering Co., Inc. to represent its customers during all stages of a project, including planning, in- house design, obtaining approvals and permits, cost analysis, and construction. The Design/Build approach provides the benefits of substantially reducing the construction timetable; saving the client time and money. Through experience, we know which building products will provide economy at the performance level needed. We balance price and value to achieve the best cost/quality solution.</p>

			<p>BuildBeast's strongest asset is its people. We are a dedicated team of knowledgeable, experienced, hard working people who are committed to maintaining top performance and satisfying its clients.</p>
		</div>
	</div>
</div>