<div id="content">

	<div id="sider-left">
		<head class="description">
			<h2>We would like to discus your project with you.</h2>
			<p>P.o.box 11111 <br/>Dar es salaam-Tanzania</p>
			<h3>(+255) 789 291 159</h3>
			<p>Email: <em>buildbeast@gmail.com</em></p>
			<p>Some street, block no #<br/> 1st floor<br/>Dar es salaam</p>
			<hr/>
		</head>
		<add class="advertise">
			<h1> Addon goes here</h1>
		</add>
	</div>
	<div id="sider-right">
		<div class="container1">
			<h3>Send us a message</h3>
			<form action="#" class="form">
				Required field*
				Name*:<br> <input type="text" name="name" class="field" size=""></input><br>
				Email*:<br> <input type="email" name="email" class="field" size=""></input><br>
				Phone: <br> <input type="text" name="number" class="field" size=""></input><br>
				Comments / Questions /Feedback:<br> <textarea name="coment" ></textarea><br> 
				<input type="submit"></input>
			</form>
		</div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d995.7277513255874!2d36.685659488080184!3d-3.3719286610626518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zM8KwMjInMTguOSJTIDM2wrA0MScxMC4zIkU!5e0!3m2!1sen!2stz!4v1459076051845" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>