<div id="content">

	<div id="sider-left">
		<head class="description">
			<h2>Professional Designing</h2>
			<p>BuilBeast is a full service design/build contractor located in Dar es salaam, Tanzania. </p>
			<h3>(+255) 789 291 159</h3>
			<p>Email: <em>buildbeast@gmail.com</em></p>
			<p>Some street, block no #<br/> 1st floor<br/>Dar es salaam</p>
			<hr/>
		</head>
		<add class="advertise">
			<h1> Addon goes here</h1>
		</add>
	</div>
	<div id="sider-right">
		<div class="container1">
			<p>BuildBeast provides excellent professional in-house engineering and design services. We apply these standards to every project, using a combination of framing styles and building sizes and materials to fit your building needs.</p>
			<p>BuildBeast designs each building to:</p>
			<ul class="design">
				<li>Look distinctive and different from other buildings</li>
				<li>Accommodate the specific business needs of the client</li>
				<li>Stand the test of time with low maintenance</li>
			</ul>
			<p>BuildBeast provides:</p>
			<ul>
				<li>Preliminary cost estimates for planing</li>
				<li>Final cost estimates for building construction</li>
				<li>Pre-engineered structural, wall and roofing system that can save you energy, time and money. This state-of-the art technology, along with our fast-track Design/Build construction expertise, is the best solution.</li>
			</ul>
		</div>
	</div>
</div>