

<div id="content">

	<div id="sider-left">
		<head class="description">
			<h2>Building Ideas, That Works For You</h2>
			<p>BuilBeast is a full service design/build contractor located in Dar es salaam, Tanzania. </p>
			<h3>(+255) 789 291 159</h3>
			<p>Email: <em>buildbeast@gmail.com</em></p>
			<p>Some street, block no #<br/> 1st floor<br/>Dar es salaam</p>
			<hr/>
		</head>
		<add class="advertise">
			<h1> Addon for the company or related membership company</h1>
		</add>
	</div>
	<div id="sider-right">
		<%= render 'layouts/carouselslider' %>
		<div class="container1">
			<h2>Welcome to BuildBeast</h2>
			<p>BuildBeast Building and Engineering Co., Inc. provides quality buildings, excellent service and offers single - source responsibility for building services. BuildBeast specializes in commercial, industrial and retail/office facilities. <em>"Building Ideas That Work"</em> is our motto and guides our direction. We offer complete "in-house" design, planning and construction services. The Design/ Build concept is fundamental to our business. Our experienced staff works in partnership with our clients at every stage of development, from the preparation of a preliminary budget to the design and construction of the project.</p>

			<p>BuildBeast's approach of using the Design/Build process provides our customers with the optimum design to fit within their budget from a cost, appearance, and performance standpoint. We use a variety of conventional and pre-engineered construction techniques selecting masonry, concrete wall panels, glass wall systems, etc. and Butler pre-engineered building systems in a skillful combination.</p>

			<p>Complete construction is our business - from concept, to drawings, to completion.</p>

			<p>BuildBeast Building and Engineering Co., Inc. - "Building Ideas That Work" can work for you.</p>
		</div>
	</div>
</div>