<div id="content">

	<div id="sider-left">
		<head class="description">
			<h2>Our project</h2>
			<ul>
				<li><%= link_to "Complete", complete_path %></li>
				<li><%= link_to "In progress", progress_path %></li>
			</ul>
			<hr/>
		</head>
		<add class="advertise">
			<h1> Addon goes here</h1>
		</add>
	</div>
	<div id="sider-right">
	  <h3>Complete Projects</h3>
		<div class="img">
  			<a target="_blank" href="#">
  			  <%= image_tag("bb_logo.png", :alt => "project1") %>
  			</a>
  			<div class="desc">Add a description of the image here</div>
  		</div>
	
		<div class="img">
  			<a target="_blank" href="#">
  			  <%= image_tag("bb_logo.png", :alt => "project1") %>
  			</a>
  			<div class="desc">Add a description of the image here</div>
		</div>
		<div class="img">
  			<a target="_blank" href="#">
  			  <%= image_tag("bb_logo.png", :alt => "project1") %>
  			</a>
  			<div class="desc">Add a description of the image here</div>
		</div>
	</div>
	<div id="sider-right">
		<h3>In-progress Projects</h3>
		<div class="img">
  			<a target="_blank" href="#">
  			  <%= image_tag("bb_logo.png", :alt => "project1") %>
  			</a>
  			<div class="desc">Add a description of the image here</div>
  		</div>
	
		<div class="img">
  			<a target="_blank" href="#">
  			  <%= image_tag("bb_logo.png", :alt => "project1") %>
  			</a>
  			<div class="desc">Add a description of the image here</div>
		</div>
		<div class="img">
  			<a target="_blank" href="#">
  			  <%= image_tag("bb_logo.png", :alt => "project1") %>
  			</a>
  			<div class="desc">Add a description of the image here</div>
		</div>
	</div>
</div>