@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 0px;
}


textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  #text-align: center;
  font-weight: normal;
  color: $gray-light;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

header {
  margin-top: 0px;

  ul{
    text-align: center;

    li{
      fornt-color: black;
      font-size: 20px; 
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding: 50px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.fb-like{
  margin-left:10px;
}


/* change image size in class thumbnail*/
.thumbnail{
  float: center;
  width:100%;
  height:300px;
  overflow:auto;
}

/* navbar*/
.navbar {
  background-color: $gray-medium-light;
  line-height: 0;

  ul{
    float: center;

    li p{
      margin-top: 5px;
    }
  }
}
nav .social-icon a{
  font-size: 30px;
  float: right;
  margin-right: 20px;
  padding-top: 10px;
}



.banner{
  width: 100%;
}


/*Slider*/

.carousel-inner > .item > .image{
      width: 70%;
      margin: auto;
    
}
#myCarousel{
  margin-top: -20px;
}


/*sidebar*/
#sider-right{
  float: right;
  width: 75%;
  margin-top: 20px;
  padding-top: 20px;

  .container1{
    text-align: justify;
    text-justify: inter-word;
  }
  .container2{
    float: left;
    width: 300px;
    height: 300px;

    .image{
      width: 100px;
      height: 100px;
    }
  }
}

#sider-left{
	float: left;
	width: 20%;
	margin-top: 20px;
  	padding-top: 20px;

  	h3{
  	  color: red;
  	}
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}	

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.form{
	border: 1px solid $gray-medium-light;
	width: 500px;
	float: center;
	align: center;
	overflow: hidden;

	.field{
		margin-top: 20px;
	}
	textare{
	  width: 30%;
	  height: 30%;

	}
}

iframe{
	padding-top: 30px;
}

