<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%= image_tag("bb3.jpg", :alt => "architectural Designing", :class=>"image") %>
        <div class="carousel-caption">
          <h3>head</h3>
          <p>description</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag("bb1.jpg", :alt => "School moto", :class=>"image") %>
        <div class="carousel-caption">
          <h3>head</h3>
          <p>description</p>
        </div>
      </div>
    
      <div class="item">
        <%= image_tag("bb2.jpg", :alt => "School m", :class=>"image") %>
        <div class="carousel-caption">
          <h3>head</h3>
          <p>Description</p>
        </div>
      </div>

  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>