<footer class="footer">
  <small>
    Pax english medium school © 2016
  </small>
  <nav>
    <ul>
      <li><a href="http://www.maitco.co.tz" target="blank">Designer</a></li>
      <li> | </li>
      <li><%= link_to "Location and Direction", '#' %></li>
    </ul>
    <div class="fb-like" data-href="https://facebook.com/maitco" data-layout="standard" data-action="like"       data-show-faces="true" data-share="true">
    </div>
  </nav>
</footer>