<div class="sidebar">
  	<ul class="notice">
  	  <h4>Notice board</h4>
  		<li>Parent meeting.</li>
  		<li>School board meeting</li>
  		<li>First sermister examination</li>
  		<li>Changes in school timetable</li>
  	</ul>
  	<ul class="downloads">
  		<h4>Quick downloads link</h4>
  		<li>Admission form 2016</li>
  		<li>Fee structure</li>
  		<li>School rules</li>
  	</ul>
</div>