<!DOCTYPE html>
<html>
<head>
  <title>Build Beast</title>
  <link rel="stylesheet" type="text/css" href="http://www.w3schools.com/lib/w3.css">
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
  <%= csrf_meta_tags %>
 
</head>
<body>
  <div class="container">
   <img>
    <%= image_tag("banner.png", :alt => "logo", :class=>"banner") %>
   </img>
   
   <%= render 'layouts/header' %>

   <%= yield %>

  </div>
  
  <%= render 'layouts/footer' %>
</body>
</html>